/* Nunito Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.3s;
  color: #080808;
  --primary: #00c2cb;
  --secondary: #ffbf23;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  color: #232323;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 32px;
  /* margin-top: 102px; */
  padding: 64px 0;
  background-color: #ffec89;
}

.header-title {
  font-size: 48px;
  font-weight: 700;
  z-index: 1;
}

.search-bar {
  padding: 16px 12px;
  border-radius: 8px;
  border: rgba(0, 0, 0, 0.6) 1px solid;
  width: 75%;
  max-width: 400px;
}

.search-bar:focus {
  outline: none;
  border: #00969e 1px solid;
}

.flower-1 {
  position: absolute;
  width: 114px;
  left: 6%;
  bottom: 0;
  opacity: 0.8;
}

.flower-2 {
  position: absolute;
  width: 109px;
  right: 7%;
  top: 89px;
  opacity: 0.8;
}

.flower-3 {
  position: absolute;
  width: 105px;
  left: 20%;
  top: 50px;
  opacity: 0.8;
}

/* FAQ Card */
.faq {
  margin-top: 96px;
  padding: 0px 64px;
}

.faq-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 4px;
  text-align: center;
}

.faq-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 64px;
  margin-top: 64px;
  padding: 0 64px;
}

.faq-card {
  border-radius: 12px;
  border: 1px solid black;
  width: 100%;
  max-width: 280px;
  flex: 1 1 calc(33% - 20px); 
  box-sizing: border-box;
  height: fit-content;
}

.faq-card-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  max-width: 280px;
  background-color: var(--secondary, #ffbf23);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid black;
}

.faq-card-header .dot {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}

.faq-card-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 12px;
  padding: 24px 12px;
  transition: all 1000ms linear;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

#editable-question, #editable-answer {
  width: 16rem;
  word-wrap: break-word; 
  overflow: hidden; 
  overflow-y: auto; 
}

#save {
  border: none;
  background: none;
  display: none;
  margin-left: 11rem;
  cursor: pointer;
  width: 5rem;
  margin-top: 10px;
}

#save img {
  width: 4rem;
}

.faq-answer {
  display: none;
  transition: all 1000ms linear;
  max-width: 280px;
  padding: 12px 12px;
  background-color: #ffd7ef;
  border-radius: 0 0 12px 12px;
}

.faq-answer-admin {
  transition: all 1000ms linear;
  max-width: 280px;
  padding: 12px 12px;
  background-color: #ffd7ef;
  border-radius: 0 0 12px 12px;
}

.faq-card.active .faq-answer {
  display: block;
}

#delete {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

#delete:hover {
  color: red;
  transition: 0.3s;
}

#edit {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

#edit:hover {
  color: #00cb00;
  transition: 0.3s;
}

.add-btn {
  margin-top: 7rem;
  height: 10rem;
  width: 10rem;
  border-radius: 15rem;
  border: none;
  background: none;
  transition: 0.3s;
}

.add-btn img{
  height: 10rem;
  cursor: pointer;
}

.add-btn:hover{
  margin-top: 6.5rem;
  transition: 0.3s;
}

/* Footer */
.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary, #00c2cb);
  padding: 24px 32px;
  margin-top: 128px;
}

.footer p {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.footer-social-media {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 12px;
  background-color: var(--secondary, #ffbf23);
  border-radius: 50%;
  transition: all 0.2s;
}

.footer-social-media:hover {
  transform: translateY(-4px);
}

.footer-social-media img {
  width: 100%;
}
